<li>
	{{burger}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}STILL TO EAT!{{/if}}
	</button>

	<button class="delete-hamburger" data-id="{{this.id}}">DELETE!</button>
</li>
